<?xml version="1.0"?>
<configuration>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--主数据文件来源的路径--><!--
    <add key="MasterFileFromPath" value="D:\SellInReport\GetESCMDataDDP\Out"/>
    --><!--主数据文件去处的路径--><!--
    <add key="MasterFileToPth" value="D:\SellInReport\TestDDP\SCM"/>
    --><!--主数据文件去处的路径58.211.87.71 datapool01--><!--
    <add key="StoreMatch_IP" value="127.0.0.1"/>
    <add key="StoreMatch_User" value="administrator"/>
    <add key="StoreMatch_Pwd" value="123"/>
    <add key="DMSFilesSourceFilesPath" value="./DMS/IN"/>
    <add key="DMSFilesBackupPath" value="./DMS/IN_BACKUP"/>
    <add key="FTPServer" value="127.0.0.1"/>
    <add key="User" value="administrator"/>
    <add key="Password" value="123"/>    
    <add key="StandardPersonFilesSourcePath" value="./SD/IN/"/>
    <add key="StandardPersonFilesBackupPath" value="./SD/IN_BACKUP/"/>-->

	  <!--主数据文件来源的路径-->
	  <add key="MasterFileFromPath" value="D:\SellInReport\GetESCMDataDDP\Out"/>
	  <!--主数据文件去处的路径-->
	  <add key="MasterFileToPth" value="D:\SellInReport\TestDDP\SCM"/>
	  <!--主数据文件去处的路径58.211.87.71 datapool01-->
	  <add key="StoreMatch_IP" value="58.211.87.71"/>
	  <add key="StoreMatch_User" value="datapool002_jos"/>
	  <add key="StoreMatch_Pwd" value="abcde@1234"/>
	  <add key="DMSFilesSourceFilesPath" value="./DMS/IN"/>
	  <add key="DMSFilesBackupPath" value="./DMS/IN_BACKUP"/>
	  <add key="FTPServer" value="58.211.87.71"/>
	  <add key="User" value="datapool002_jos"/>
	  <add key="Password" value="abcde@1234"/>
	  <add key="StandardPersonFilesSourcePath" value="./SD/IN/"/>
	  <add key="StandardPersonFilesBackupPath" value="./SD/IN_BACKUP/"/>
    <!--<add key="FromMail" value="echina@ferrero.com.cn"/>
    <add key="SenderServerHost" value="smtp.ferrero.com.cn"/>
    <add key="SenderUsername" value="echina@ferrero.com.cn"/>
    <add key="SenderPassword" value="hello2836"/>-->
    <add key="FromMail" value="chinacontractsys@ferrero.com.cn"/>
    <add key="SenderServerHost" value="smtp.hostuc.com"/>
    <add key="SenderUsername" value="chinacontractsys@ferrero.com.cn"/>
    <add key="SenderPassword" value="hello2836"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISaleData"  maxReceivedMessageSize="2000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.10.110:8097/SaleData.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_ISaleData" contract="FerreroSaleData.ISaleData"
          name="BasicHttpBinding_ISaleData" />
    </client>
  </system.serviceModel>
</configuration>
