<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <maxConnection>500</maxConnection>
  <instances defaultInstance="sql">
    <instance name="sql" type="SQLSERVER" connectionString="eContract" isFullString="false" isEncrypt="false"/>
  </instances>
  <connectionStrings>
    <connectionString name="eContract">
      <parameters>
        <parameter name="IntegratedSecurity" value="False"></parameter>
        <!--<parameter name="database" value="eContract" isSensitive="false" />
        <parameter name="server" value="127.0.0.1" isSensitive="false"/>-->
        <!--<parameter name="database" value="q" isSensitive="false" />
        <parameter name="server" value="192.168.10.115" isSensitive="false"/>-->

        <parameter name="database" value="eContract" isSensitive="false" />
        <parameter name="server" value="." isSensitive="false"/>

        <!--<parameter name="database" value="eContract" isSensitive="false" />
        <parameter name="server" value="192.168.10.115" isSensitive="false"/>-->
        <parameter name="user" value="sa"></parameter>
        <!--<parameter name="pwd" value="Joinone2014"></parameter>-->
      <parameter name="pwd" value="123456"></parameter>
      </parameters>
      <fullString></fullString>
    </connectionString>
  </connectionStrings>
</configuration>