<div class="row-fluid">
    <div class="span12">
        <h2>双季智选</h2>
        <div class="row-fluid">
            <div class="span8" style="background-color:#f9fafc">
                <div class="row-fluid" style="margin-top:40px">
                    <div class="span3">
                        <span style="font-size: 50px;color:red">8.50</span>%<br><br>
                        <span style="color: #999999;line-height: 200%;">历史平均年化利率</span>
                    </div>
                    <div class="span3">
                        <span style="font-size: 50px;">180</span>天<br><br>
                        <span style="color: #999999;line-height: 200%;">借贷期限</span>

                    </div>
                    <div class="span3">
                        <span style="font-size: 50px;">1000元</span><br><br>
                        <span style="color: #999999;line-height: 200%;">投资起点</span>
                    </div>
                </div>
            </div>
            <div class="span4" style="background-color:#f9fafc">
                <label>每日限额￥20万元</label>
                <input type="text" placeholder="请输入金额">
                <label>余额登陆后可见</label>
                <a class="btn btn-large  btn-warning" type="button" href="@Url.Content("~/LUBR/ProductDetails")">已经售罄</a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <h2>产品特点</h2>
                <div class="row-fluid" style="margin-top:40px">
                    <div class="span3">
                        <img class="img-circle" src="~/UI/INSPINIA/img/gallery/1s.jpg" />
                        <h3>安全</h3>
                        <p>我们为您提供全方位安全的账户保护.</p>
                        <p><a class="btn" href="#">View details &raquo;</a></p>
                    </div>
                    <div class="span3">
                        <img class="img-circle" src="~/UI/INSPINIA/img/gallery/2s.jpg" />
                        <h3>灵活</h3>
                        <p>更具您的实际情况提供灵活的产品.</p>
                        <p><a class="btn" href="#">View details &raquo;</a></p>
                    </div>
                    <div class="span3">
                        <img class="img-circle" src="~/UI/INSPINIA/img/gallery/3s.jpg" />
                        <h3>稳定</h3>
                        <p>最大限度的保证你的收益.</p>
                        <p><a class="btn" href="#">View details &raquo;</a></p>
                    </div>
                    <div class="span3">
                        <img class="img-circle" src="~/UI/INSPINIA/img/gallery/4s.jpg" />
                        <h3>可靠</h3>
                        <p>这个不知道写什么了.</p>
                        <p><a class="btn" href="#">View details &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


