
@{
    ViewBag.Title = "UploadDemo";
    Layout = null;
}
<script src="~/UI/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/CAS/Scripts/UploadHelper.js"></script>
<h2>UploadDemo</h2>
<button id="browse">选择文件</button>
<button id="showResult" onclick="show();">查看已保存的文件ID</button>
<input type="hidden" id="fileIds" />
<script>
    //文件ID
    var myFiles = "39cdec8b-1622-4a73-98fd-d03572f994c4,201c0d04-6afa-48d8-966b-cf149bbbab8a";
    $.UploadHelper.init("browse", "fileIds", myFiles);
    function show() {
        alert($("#fileIds").val())
    }
</script>
