@{
    ViewBag.Title = "信息披露";
}
<div class="container">
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav" style="position:fixed">
                <li><a href="#companyIntroduction"><i class="icon-chevron-right"></i>公司简介</a></li>
                <li><a href="#BusinessLicense"><i class="icon-chevron-right"></i>营业执照</a></li>
                <li><a href="#organizationalStructure"><i class="icon-chevron-right"></i>组织架构</a></li>
                <li><a href="#riskManagement"><i class="icon-chevron-right"></i>风险管理</a></li>
                <li><a href="#OperationalData"><i class="icon-chevron-right"></i>运营数据</a></li>
                <li><a href="#LawsAndRegulations"><i class="icon-chevron-right"></i>法律法规</a></li>
                <li><a href="#ContactUs"><i class="icon-chevron-right"></i>联系我们</a></li>
            </ul>
        </div>
        <div class="span9">
            <section id="companyIntroduction">
                <div class="page-header">
                    <h3 style="text-align:center">1. 公司简介</h3>
                </div>
                <div>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:25%">网贷机构全称</th>
                                <th style="width:75%">磐石基金管理</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>简称</td>
                                <td>磐石</td>
                            </tr>
                            <tr>
                                <td>统一社会信用代码</td>
                                <td>91310000312424718L</td>
                            </tr>
                            <tr>
                                <td>注册资本</td>
                                <td>7090万人民币（实缴7090万)</td>
                            </tr>
                            <tr>
                                <td>注册地址</td>
                                <td>苏州</td>
                            </tr>
                            <tr>
                                <td>公司经营地址</td>
                                <td>苏州</td>
                            </tr>
                            <tr>
                                <td>成立时间</td>
                                <td>2017-9-16</td>
                            </tr>
                            <tr>
                                <td>经营状态</td>
                                <td>存续（在营、开业、在册）</td>
                            </tr>
                            <tr>
                                <td>主要人员</td>
                                <td>马超影，常帅</td>
                            </tr>
                            <tr>
                                <td>经营范围</td>
                                <td>计算机及网络技术领域内的技术开发、技术转让、技术咨询、技 术服务；计算机系统集成；计算机网络工程；计算机软件开发、 设计、维护及销售；投资咨询（证券、期货投资咨询除外）、商 务信息咨询、市场营销策划、公关活动策划。 【依法须经批准 的项目，经相关部门批准后方可开展经营活动】</td>
                            </tr>
                            <tr>
                                <td>股东信息</td>
                                <td>
                                    上海恳创投资管理有限公司24.46%<br>
                                    上海中莱投资管理有限公司12.65%<br>
                                    上海熙桐投资管理中心（有限合伙)34.59%<br>
                                    嘉兴极地信天壹期投资合伙企业（有限合伙）3.59%<br>
                                    上海谐桐投资管理中心（有限合伙）2.15%<br>
                                    同信投资有限责任公司1.43%<br>
                                    JD EVEREST LIMITED14.34%<br>
                                    上海蕊桐投资管理中心（有限合伙）6.79%<br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="BusinessLicense">
                <div class="page-header">
                    <h3 style="text-align:center">2. 营业执照</h3>
                </div>
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Otto</td>
                                <td>TwBootstrap</td>
                                <td>TwBootstrap</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Larry the Bird</td>
                                <td>twitter</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="organizationalStructure">
                <div class="page-header">
                    <h3 style="text-align:center">3. 组织架构</h3>
                </div>
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Otto</td>
                                <td>TwBootstrap</td>
                                <td>TwBootstrap</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Larry the Bird</td>
                                <td>twitter</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="riskManagement">
                <div class="page-header">
                    <h3 style="text-align:center">4. 风险管理</h3>
                </div>
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Otto</td>
                                <td>TwBootstrap</td>
                                <td>TwBootstrap</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Larry the Bird</td>
                                <td>twitter</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="OperationalData">
                <div class="page-header">
                    <h3 style="text-align:center">5. 运营数据</h3>
                </div>
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Otto</td>
                                <td>TwBootstrap</td>
                                <td>TwBootstrap</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Larry the Bird</td>
                                <td>twitter</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="LawsAndRegulations">
                <div class="page-header">
                    <h3 style="text-align:center">6. 法律法规</h3>
                </div>
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Otto</td>
                                <td>TwBootstrap</td>
                                <td>TwBootstrap</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Larry the Bird</td>
                                <td>twitter</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="ContactUs">
                <div class="page-header">
                    <h3 style="text-align:center">7. 联系我们</h3>
                </div>
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Otto</td>
                                <td>TwBootstrap</td>
                                <td>TwBootstrap</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Larry the Bird</td>
                                <td>twitter</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
@*<ul id="test_content"></ul>*@
@*@section footer{
        <script type="text/javascript">
            $("body").ready(function () {
                    jQuery.support.cors = true;
                    jQuery.ajax({
                        url: "http://www.cninfo.com.cn/cninfo-new/announcement/query",
                        type: "POST",
                        datatype: "json",
                        data: 'stock=002301&searchkey=&category=&pageNum=1&pageSize=30&column=szse_sme&tabName=fulltext&sortName=&sortType=&limit=&seDate=',
                        success: function (obj, result) {
                            //alert('成功:\n' + obj.totalRecordNum);
                            //alert(obj.announcements[0].announcementTitle);
                            console.info(obj);
                            console.info(result);
                        }
                    });
                });
        </script>
    }*@