@{
    Layout = "~/Views/Shared/_ListLayout.cshtml";
}

@section header{
}
<div class="wrapper wrapper-content">
</div>



@section footer{
    <style type="text/css">
        body {
            margin: 0px;
        }

        .impowerBox {
            width: 196px;
        }

            .impowerBox .qrcode {
                width: 196px;
                margin-top: 0px;
            }

            .impowerBox .title {
                display: none;
            }

            .impowerBox .info {
                display: none;
            }

        .login-wrapper .login-qrcode {
            border: none;
        }
    </style>
    <script type="text/javascript">
    
    </script>
}
