@using eContract.Common.Schema
@model eContract.Common.LigerGrid
<div class="ibox-content">
    <div class="jqGrid_wrapper c-table-list">
        <table id="POEditGrid" class="c-table-list-content"></table>
        <div id="pager-content"></div>
    </div>
</div>