<div class="row-fluid">
    <div class="span12" style="margin-top:40px">
        <div class="row-fluid">
            <div class="span8" style="background-color:#f9fafc">
                <div class="row-fluid" style="margin-top:40px">
                    <div class="span3" style="margin-left:10px">
                        <span style="color: #000000;line-height: 200%;font-weight:600">累计成功充值</span><br><br>
                        <span style="color: #000000;line-height: 200%;font-weight:600">累计成功提现</span>
                    </div>
                    <div class="span3">
                        <span style="font-size: 25px;color:red">340000</span>元<br><br>
                        <span style="font-size: 25px;color:red">140000</span>元<br>

                    </div>
                    <div class="span2">
                        <span style="color: #000000;line-height: 200%;">24</span>笔<br><br>
                        <span style="color: #000000;line-height: 200%;">67</span>笔
                    </div>
                    <div class="span2">
                        <span style="font-size: 25px;">可用余额</span><br><br>
                        <span style="font-size: 25px;color:red">240000</span>元<br>
                    </div>
                </div>
            </div>
            <div class="span4" style="background-color:#f9fafc">
                <div class="row-fluid" style="margin-top:40px">

                    <a class="btn btn-large  btn-danger" type="button" href="@Url.Content("~/LUBR/ProductDetails")">充值</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-large  btn-warning" type="button" href="@Url.Content("~/LUBR/ProductDetails")">提现</a>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12" style="background-color:#f9fafc;margin-top:20px">
                <h4>充值记录</h4>
            </div>
        </div>
    </div>
</div>
